/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog .mat-dialog-container {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 12px !important;
  overflow: hidden !important;
  background: transparent !important; 
  box-shadow: none !important;
}
